@font-face {
  font-family: "SFProDisplay";

  src: url("../../assets/fonts/SFPRODISPLAYMEDIUM.eot");

  src: local("☺"),
    url("../../assets/fonts/SFPRODISPLAYMEDIUM.ttf") format("truetype"),
    url("../../assets/fonts/SFPRODISPLAYMEDIUM.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../assets/fonts/SFPRODISPLAYREGULAR.eot");
  src: local("☺"),
    url("../../assets/fonts/SFPRODISPLAYREGULAR.ttf") format("truetype"),
    url("../../assets/fonts/SFPRODISPLAYREGULAR.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../assets/fonts/SFPRODISPLAYBOLD.eot");
  src: local("☺"),
    url("../../assets/fonts/SFPRODISPLAYBOLD.ttf") format("truetype"),
    url("../../assets/fonts/SFPRODISPLAYBOLD.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/FontsFree-Net-SFProText-Regular.eot");
  src: local("☺"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Regular.woff")
      format("woff"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Regular.ttf")
      format("truetype"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/FontsFree-Net-SFProText-Semibold-1.eot");
  src: local("☺"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Semibold-1.woff")
      format("woff"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Semibold-1.ttf")
      format("truetype"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Semibold-1.svg")
      format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/FontsFree-Net-SFProText-Medium-1.eot");
  src: local("☺"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Medium-1.woff")
      format("woff"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Medium-1.ttf")
      format("truetype"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Medium-1.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/FontsFree-Net-SFProText-Bold-1.eot");
  src: local("☺"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Bold-1.woff") format("woff"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Bold-1.ttf")
      format("truetype"),
    url("../../assets/fonts/FontsFree-Net-SFProText-Bold-1.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
